# 1. Setup

In [ ]:
# import json
# from datetime import date, time

# import colorcet as cc
# import holidays
# import matplotlib.patches as mpatches
# import matplotlib.pyplot as plt
# import matplotlib.transforms as mt
import numpy as np
import pandas as pd
# import plotly.express as px
# import plotly.graph_objects as go
# import seaborn as sns
# from IPython.display import Image
# from matplotlib.dates import DateFormatter, MonthLocator
# from matplotlib.lines import Line2D
# from matplotlib.ticker import MultipleLocator
# from pandas.core.groupby.generic import DataFrameGroupBy
# from prophet import Prophet
# from scipy.ndimage import binary_dilation
# from shapely.geometry import shape
# from statsmodels.tsa.seasonal import MSTL, seasonal_decompose

In [ ]:
RAND = 10
RAW_DATA = "../raw_data/"
ADDITIONAL_DATA = "../additional_data/"

In [ ]:
from utils.load import load_all_raw_data
from utils.process import process_all_dfs
from utils.merge import merge_all_dfs

In [ ]:
df = merge_all_dfs(process_all_dfs(load_all_raw_data(RAW_DATA, ADDITIONAL_DATA)))

In [ ]:
df.shape

(2012370, 43)

In [ ]:
pd.DataFrame({"date": pd.date_range(df.datetime.min(),df.datetime.max(), freq='D'), "holiday_type": "ordinary_day"})

          date  holiday_type
0   2021-09-03  ordinary_day
1   2021-09-04  ordinary_day
2   2021-09-05  ordinary_day
3   2021-09-06  ordinary_day
4   2021-09-07  ordinary_day
..         ...           ...
631 2023-05-27  ordinary_day
632 2023-05-28  ordinary_day
633 2023-05-29  ordinary_day
634 2023-05-30  ordinary_day
635 2023-05-31  ordinary_day

[636 rows x 2 columns]

In [ ]:
df.columns

In [ ]:
# df.loc[df.dateisna().sum()'2023-03-26 03:00:00'

In [ ]:
CATEGORICAL_DICT = {
    "county": county_id_to_name_map,
    "is_business": {0: "not_business", 1: "business"},
    "is_consumption": {0: "production", 1: "consumption"},
    "product_type": {
        0: "combined",
        1: "fixed",
        2: "general_service",
        3: "spot",
    },
}

PALETTE = sns.color_palette(
    cc.glasbey[:4]
    + [cc.glasbey[8]]
    + cc.glasbey[5:8]
    + [cc.glasbey[4]]
    + [cc.glasbey[12]]
    + cc.glasbey[10:12]
    + [cc.glasbey[9]]
    + cc.glasbey[13:16]
).as_hex()

SEGMENT_C = ["county", "product_type", "is_business"]
CATEGORICAL_C = ["county", "product_type", "is_business", "is_consumption"]
TARGET_C = [
    "county",
    "product_type",
    "is_business",
    "is_consumption",
    "datetime",
]

In [ ]:
pd.set_option(
    "display.float_format",
    lambda x: f"{x:.2e}" if abs(x) < 0.01 and x != 0 else f"{x:.2f}",
)
pd.set_option("display.max_columns", None)

In [ ]:
sns.set_style("whitegrid")